// General for <body>

body{
    background-color: #00011A;
    color: white;
}

// Pre- and Nav-bar

.pre-navbar p{
    color: gray;
}

.navbar-nav li a{
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
}

.nav-link:hover{
    color: white;
}

.dropdown ul li a{
    color: black;

}
// Carousel

.carousel-section div, p{
    color: white;
}

// Advantages

.card-body{
    background-color: #0B111D;
    color: white;

}